@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root { --primary-color: #1A73E8; }

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}

.form-input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #DADCE0;
    background-color: white;
    color: #3C4043;
    transition: border-color 0.2s, box-shadow 0.2s;
}
.form-input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(26, 115, 232, 0.2);
}

#form-message {
    transition: opacity 0.3s;
    padding: 12px;
    border-radius: 12px;
    font-weight: 500;
    border: 1px solid transparent;
}