@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.modal {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* --- STYLES SPÉCIFIQUES POUR LE HEADER ABSOLUMENT FIXE --- */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1024px) { /* lg breakpoint */
    #main-header {
        left: 16rem; /* 16rem = w-64 */
    }
}

/* Ajustement pour le défilement du contenu sous l'en-tête */
#main-content-scroll {
     margin-top: 6rem;
}

@media (min-width: 768px) { /* md breakpoint */
     #main-content-scroll {
         margin-top: 5.5rem; 
     }
}

.hover-neon-glow:hover {
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.6); 
    transform: translateY(-2px);
}

/* Style pour le champ de fichier personnalisé */
.file-selected {
    color: #10b981; /* secondary */
    font-weight: 600;
}